pclass { text-align:center;
text-family: Times New Roman,Cambria Math,Sans-serif;
font-size: 15px }
{
.pitalics {
  font-style:Italic;
 font-family: bold:
 }
 h1, h3, h4 }
 text-align: center;
 text-transform: none;
 font-family: Script
 }
 
 .about {
 font-size 20px
 }
 
 body }
 padding: 15px;
 background-color: Peach;
 }
 
